/*@media query*/

@media screen and (max-width: 991px){
    body{
        overflow-y: scroll !important;
    }

    a.et_pb_button.et_pb_button_1.btn-blue-first-banner.et_pb_bg_layout_light{
        background-color: #0165c5;
        color: #fff;
        padding: 5px 45px 5px 45px;
        border-radius: 11px;
    }

    .et_pb_section_2 {
        padding-top: 100px !important;
        padding-right: 0px;
        padding-bottom: 54px;
        padding-left: 0px;
    }

    

    /*MENU RESPONSIVE*/
    ul.et_mobile_menu{
        display: flex;
        justify-content: center;
    }

    li#menu-item-77,
    li#menu-item-76{
        display: inline-flex;
        margin-left: 10px;
        span.trp-ls-language-name.dynamiClassNav-nro-0,
        span.trp-ls-language-name.dynamiClassNav-nro-1{
            //color: #000 !important;
            font-size: 20px;
        }
    }
/*---------------*/


div.img-first-container, div.img-second-container, div.img-third-container{
    margin-right: 0 !important;
}


/*Page error 404 responsive*/
body.error404{    
    div.entry h1 {
            font-size: 133px;
            color: #eb6947;
        }

        div.entry p {
            font-size: 19px !important;
            line-height: 75px;
            width: 180vh;
            color: #eb6947;
           
        }

        strong.strong-blue-404 {
            padding: 0px 40px 0px 40px;
            color: #fff;
            background-color: #eb6947;
            border-radius: 13px;
            transition: 0.5s;
            font-size: 49px !important;
        }

        div#main-content {
            background-image: linear-gradient(300deg, #0165c5 46%, #ffffff 0%) !important;
            height: 100vh;
        }

        span.text-responsive-white{
            color: #fff;
            position: relative;
            left: 1%;
        }

        div.container {
            padding-top: 20% !important;
        }
    }
/*------------------------*/
}

@media screen and (min-width: 768px){
    body.error404{
        div.container {
            padding-top: 30% !important;
        }

        div.entry p {
            font-size: 35px !important;
        }

        div#main-content {
            background-image: linear-gradient(310deg, #0165c5 47%, #ffffff 0%) !important;         
        }
    }
}


@media screen and (max-width: 1024px){
    body{
        overflow-y: scroll !important;
    }

    .et_pb_module.et_pb_image.et_pb_image_0.img-analiticom-contruction-a.et_always_center_on_mobile img {
        max-width: 100vh !important;
        position: relative;
        top: 34vh;
        right: 20vh;
    }

    div.et_pb_section.et_pb_section_0 {
        background-image: linear-gradient(360deg,#0165c5 46%,#ffffff 0%)!important;
    }
}

