/*Btn First banner style*/
a.et_pb_button.et_pb_button_0.btn-blue-first-banner.et_pb_bg_layout_light{
        background-color: #0165c5;
        color: #fff;
        padding: 5px 45px 5px 45px;
        border-radius: 11px;

        &:hover{
            background-color: #eb6947;
        } 
    }

/*Btn form section*/

form.et_pb_contact_form.clearfix{
    .et_pb_contact_submit.et_pb_button{
        background-color: #eb6947;
        color: #fff;
        padding: 5px 60px 5px 60px;
        border-radius: 9px;
        border: none;
        font-family: $tipographyGeneral;
    }
}