/*Variables  estilos*/

    /*Colores de fondo*/
    $azulBackground: #0165c5;
    /*------------------------*/

    /*section height and width and others*/
    $fullHeight: 100vh;
    $fullWidth: 100vh;
     /*---------------------------------*/

     $tipographyGeneral: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
/*-------------------*/