/*Tipography style*/
    a#btn-blue.et_pb_button.et_pb_button_0.btn-blue-first-banner.et_pb_bg_layout_light{
        font-family: $tipographyGeneral !important;
    }

    p.text-we-work{
        span{
            font-size: 30px;
            line-height: 35px;
            color: #adadad;
            font-family: $tipographyGeneral !important;
        }
    }
        
/*---------------*/ 